*{
    user-select: none;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%)) ;
}
#top{
    position: absolute;
    top: 10px;
    left: 100px;
    z-index: 1;
}

#bot{
    position: relative;
    top: 110px;
    left: 115px;
    z-index: 1;
}

.wrapper{
    border-radius: 20px;
    padding-top: 150px;
    padding-left: 50px;
    padding-right: 50px;
    height:340px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fff;
    z-index: 0;
    filter: drop-shadow(2px 4px 8px #585858);
}

#heading{
    text-align: center;
}

p{
    cursor: pointer;
    font-size: 12px;
}

p:hover{
    font-weight: 600;
}

.up{
    height: 15px;
    float: right;
}

span{
    display: none;
    font-size: 12px;
}
#design{
    height: 0;
}

#extra{
    display: none;
}

@media only screen and (min-width: 600px) {
    body{
    background: linear-gradient(to bottom, hsl(273, 75%, 66%),hsl(240, 73%, 65%)) ;
        
    }
    .wrapper{
        height: 300px;
        width:500px ;
        margin-left: 500px;
    }
    #top{
        top: 200px;
        height: 300px;
        left: 150px;
    }
    #bot{
        height: 0px;
    }
    #heading{
        text-align: left;
    }
    .wrapper{
        padding-top: 50px;
        width: 600px;
        height: 400px;
        position: absolute;
        top: 100px;
        left: -200px;
    }
    .data{
        float: right;
    }
    #design{
        height: 400px;
       position: absolute;
       top: 120px;
       left: 180px;
       z-index: 1;
    }
    #extra{
        display: block;
    }
}